
.navigation-wrapper {

    @include default-flex();
    align-items: center;
    text-align: center;
    
   

    .navigation-box {
        @include default-flex();
        margin-right: 45px;
        
        

        .navigation-link {

            font-family: "Cormorant", serif;
            font-size: 1.8rem;  
            margin: 45px;
            background-color: transparent;
            
            
            
            
            a{
                text-decoration: none;
                color: $obsidian-black;
                cursor: pointer;

                &:hover {
                    color: $cherry-red;
                    transition: color 0.7s ease-in-out;
                
                }
                
                
            }

            .nav-link-active {
                color: $cherry-red;
                transition: color 0.7s ease-in-out;
                
            }
     
        

        }
  
    }

    .log-out {

        .logout-btn {
            background: none;
            border: none;
            cursor: pointer;

            .text {
                display: none;
            }

            

            svg {
                font-size: 1.2em;
                transition:color 0.75s ease-in-out, filter 0.75s ease-in-out;
                filter: drop-shadow(-1px 2px 4px $obsidian-black);
                margin-right: 20px;
    
                 
                &:hover {
                    color: $ruby-red;
                    filter: drop-shadow(4px 4px 4px $dark-maroon);
                    
                }
            }
        }
        

    }

    
}

@media (max-width:788px) {
    .navigation-wrapper {

        text-align: center;
        @include mobile-page-disposition();
        background-color: $obsidian-black;
        
        
    

        .navigation-box {
            
            @include mobile-page-disposition();
            align-items: center;
            margin-right: 0px;
            

            


            .navigation-link {

                margin: 0px;
                @include default-flex();
                max-height: 25px;
                align-items: center;
                background-color: $obsidian-black;
                padding: 22px 0px;
                font-family: 'Italianno', serif;
                font-size: 2.4em;
                transition: none;
                width: 100%;

                a{
                    text-decoration: none;
                    color: $cotton;
                    padding: 22px; 
                    width: 100%;
                    
                    
                }
        
                &:hover {
                    background-color: $cotton;
                    transition: background-color 1.2s ease-in-out;

        
                    a {
                        color: $obsidian-black;
                        transition: color 1.2s ease-in-out;
                    }
                }

                .nav-link-active {
                    color: $obsidian-black;
                    background-color: $cotton;
                    transition: none;

                    
                    
                    
                    
                    
                }
                

            }
            
        }

        .log-out {
            margin: 25px 0px;

            .logout-btn {

                .text {
                    display: inline-block;
                    color: $cotton;
                    font-family: 'Estonia', serif;
                    font-size: 1.8em;
                }

                svg {
                    display: none;
                }

                &:hover {
                    text-shadow:4px 4px 4px $cotton;
                }
            }


            
            


        }
    }
}