.home-wrapper {
    @include page-disposition();
    

    .home-content {
    

        .quote {
            font-family: 'Estonia', serif;
            font-size: 3.5rem;
            display: flex;
            justify-self: center;
            margin-top: 40px;

        }
        
        .logo {
            @include logo();
        }
        

        
    }

}

