@mixin logo {
    
    margin-top: 340px;


    .logo-part-one {
        font-family: 'Estonia', serif;
        font-size: 5rem;
        display: flex;
        justify-self: center;
            
    }

    .logo-part-two {
        font-family: 'Italianno', serif;
        font-size: 7rem;
        display: flex;
        justify-self: center;
    }

    
}

@mixin button {

    //background-color: $ruby-red;
    color: $cotton;
    font-family: 'Cormorant', serif;
    cursor: pointer;
    padding: 12px;
    font-size: 1.5rem;
    border: 1px solid transparent;
    transition: all 1s ease-in-out;
    //box-shadow: 5px 5px 15px 5px $dark-maroon;
    background-color: $obsidian-black;
    box-shadow: 5px 5px 15px 5px $obsidian-black;


    &:hover {
        //background-color: $obsidian-black;
        color: $cotton;
        //box-shadow: 5px 5px 15px 5px $obsidian-black;
        background-color: $maroon;
        box-shadow: 5px 5px 15px 5px $dark-maroon;
        transition: all 1s ease-in-out;
        
    }

    &:active, &:focus {
        outline: none;
    }

}

@mixin input-styles {
    
    font-family: 'Cormorant', serif;
    font-size: 1.4rem;
    margin-left: 25px;
    width: 100%;
    padding: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid $obsidian-black;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    

    &:focus {
        outline: none;        
    }

}



@mixin page-disposition {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

@mixin default-flex {
    display: flex;
    justify-content: center;
}

@mixin newspaper-manager-titles {
    font-family: 'Estonia', serif;
    font-size: 2.9em;
    display: flex;
    justify-content: center;
    margin-bottom: 84px;
    color: $cotton;
    background-color: $obsidian-black;
    padding: 8px 0px;
    box-shadow: 2px 5px 25px 2px $obsidian-black;
    letter-spacing: 0.8px;
}