// RED, BLACK & CREAM

$ruby-red: #7F1F0E;
$cherry-red: #810100;
$mahogany: #360705;
$crimson-depth: #710014;
$maroon: #630000;
$dark-maroon: #390007;
$blood-red: #74070E;


$bordeaux: #0E0000;
$noir-black: #1B1717;
$rich-black: #141414;
$espresso: #0F0000;
$obsidian-black: #161616;


// $silk: #dac1b1;
$villa-nova: #E2E0C8;
$summer-jasmine: #EFEAD8;
$pastel-beige: #EFEACD;
$cotton: #EDEBDD;
$soft-pearl: #F2F1ED;
$ivory-whisper: #FFFBF0;




// PINK, BLACK & WHITE

$pink: #D1A6AD;
$blush: #F2C6C2;
$rosy: #C8A19C;
$rose: #DC9E95;
$petal: #F1E1E9;