.newspaper-form{


    .newspaper-form-title {
        @include newspaper-manager-titles();
        margin-top: 25px;
    }

    .newspaper-form-items {

        display: flex;
        flex-direction: column;
        justify-self: center;
        

        input {

            @include input-styles();
            margin-bottom: 20px;
            width: 515px;
    
        }
    
        textarea {
    
            @include input-styles();
            margin-top: 10px;
            width: 515px;
            min-height: 125px;
    
        }
    
        select{
            
            @include input-styles();
            margin-top: 20px;
            width: 515px;
            margin-bottom: 45px;
            
            
    
        }

        .select-image-wrapper {

            display: flex;
            justify-content: space-around;
            margin-bottom: 25px;

            .select-image {
                display: flex;
                align-items: center;
                flex-direction: column;
                

                label {
                    margin-top: 38px;
                    margin-bottom: 19px;
                    font-family: 'Cormorant', serif;
                    font-size: 1.4rem;
                    border: 1px solid $obsidian-black;
                    padding: 15px;
                    cursor: pointer;
                    display: inline-block;
                    transition: all 1.2s ease-in-out;

                        
            
                    
                }

                label:hover{
                    background-color: $obsidian-black;
                    border: 1px solid transparent;
                    color: $cotton;
                    transition: all 1.2s ease-in-out;
                }
    
                span {
                    font-family: 'Cormorant', serif;
    
                }


            }
        }


        .images-input-hidden {
            display: none;
        }
    
        .cover-preview {

            @include default-flex();
            flex-direction: column;
            align-items: center;
            
            

            .preview-title {
                font-family: 'Estonia', serif;
                font-size: 2.2rem;
                margin-bottom: 12px;
                
                
            }
    
            .cover-thumb {
                width: 225px;
                height: 225px;
    
            }
        }
    
        
    
        .evidences {    
            
            @include default-flex();
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
            
            .preview-title {
                font-family: 'Estonia', serif;
                font-size: 2.2rem;
                margin-bottom: 12px;

            }
    
            .evidence-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;


                .evidence-thumb {
                    width: 225px;
                    height: 225px;
                    margin-bottom: 8px;
                }
        
                .btn-small {

                    background-color: transparent;
                    border: 1px solid transparent;
                    cursor: pointer;
                    transition: all 1.2s ease-in-out;
                    padding: 15px;
        
                }

                .btn-small:hover {
                    background-color: $maroon;
                    color: $cotton;
                    transition: all 1.2s ease-in-out;
                }

            }
    

        }
    
        .btn {
            @include button();
            width: 25%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 29px;
            
            
            

        }


    }

    p{
        font-family: 'Italianno', serif;
        font-weight: 300;
        font-size: 2rem;
        margin-top: 44px;
        @include default-flex();
    }

    
}

@media (max-width:788px){
    .newspaper-form{
        .newspaper-form-title{
            margin-top: 0px;
            padding: 29px;
            border-top: 1px dashed $cotton;

        }

        .newspaper-form-items{
            display: flex;
            align-items:center ;
            
            input, textarea, select{
                width: 344px;
                text-align: justify;
            }

            select{
                margin-top: 25px;
            }

            .select-image-wrapper{
                
                .select-image{
                    padding: 8px;  
                }
            }

            

           


        }
    }
}