.auth-wrapper{
    @include page-disposition();

    .content-wrapper {

        display: flex;
        flex-direction: column;
        justify-self: center;
        height: 573px;

        .site-name, .handle-error {
            font-family: 'Italianno', serif;
        }

        .site-name {
            font-size: 7rem;
            margin-top: 50px;
        }

        .handle-error {
            font-size: 2em;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }


        .auth-form-wrapper {

            margin-top: 45px;

            .form {
                display: flex;
                justify-content: center;
                padding-bottom: 25px;

                svg {
                    font-size: 1.5rem;
                    margin-top: 10px;
                    color: $maroon;
                }

                input {
                    @include input-styles();
                }
            }

            .btn {

                @include button();
                display: flex;
                justify-self: center;
                margin-top: 50px;

            }
        }
    }
}

@media (max-width:788px){
    .auth-wrapper{
        //display: flex;
        //justify-content: center;
        //display: grid;
        //grid-template-columns: 1fr;
        .content-wrapper{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-left: 24px;
            margin-right: 24px;

            .site-name{
                font-size: 5rem;
            }

            .handle-error{
                margin-top: 15px;
                margin-bottom: 35px;
            }
            
            .auth-form-wrapper{
                margin-top: 0px;
            }
        }
    }
}