.home-wrapper {
    @include page-disposition();
    

    .home-content {

        height: 573px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    

        .quote {
            font-family: 'Estonia', serif;
            font-size: 2.5rem;
            display: flex;
            flex-direction: column;
            //justify-content: center;
            //justify-self: center;
            margin-top: 40px;
            text-align: center;
            line-height: 1.4em;
            letter-spacing: 0.045em;
            //height: 50%;
            //align-items: center;

            p{
                margin-bottom: 25px;
            }

            

        }
        
        .logo {
            @include logo();
        }
        

        
    }

}

@media (max-width:788px) {

    .home-wrapper {

       .home-content{
        margin: 0px 20px;
        text-align: center;
      

            .quote {
                font-size: 2rem;
                align-items: center;
            }

            .logo{
                margin-bottom: 24px;
            
                .logo-part-one {
                    font-size: 4rem;
                }

                .logo-part-two {
                    font-size: 6rem;
                }
            }
       }
    }
}

