.home-wrapper {
    @include page-disposition();
    

    .home-content {


    

        .quote {
            font-family: 'Estonia', serif;
            font-size: 3.2rem;
            display: flex;
            justify-self: center;
            margin-top: 40px;

        }
        
        .logo {
            @include logo();
        }
        

        
    }

}

@media (max-width:788px) {

    .home-wrapper {

       .home-content{
        margin: 0px 20px;
        text-align: center;

        .quote {
            height: 40vh;
            align-items: center;
        }

        .logo{
            margin-bottom: 24px;
            .logo-part-one {
                font-size: 4rem;
            }

            .logo-part-two {
                font-size: 6rem;
            }
        }
       }
    }
}

