.content-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
    

    .right-column {
        margin: 75px;
        text-align: center;
        font-family: 'Cormorant', serif;
        font-size: 1.5rem;

        p{
            margin-bottom: 10px;
        }

        .edit-paragraph {
            font-family: 'Estonia', serif;
            font-size: 2.5rem;
            
        }


    }

    


}

@media (max-width:788px) {

    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr;

        .left-column {
            height: 650px;
            box-shadow: 2px 5px 25px 2px $obsidian-black;
            //width: 100vw;
        }

        .right-column{
            font-size: 1.6rem;
            margin-top: 45px;

            p{
                margin-bottom: 29px;
            }

            .edit-paragraph {
                font-size: 2.7rem;
                margin-top: 45px;
                
            }
        }


    }

}