.newspaper-detail-wrapper {

    @include page-disposition();

    .newspaper-detail-content {
        //height: 573px;
        
        

        .title{

            font-family: 'Tangerine', serif;
            font-weight: 400;
            font-style: normal;
            font-size: 3.3em;
            @include default-flex();
            padding-bottom: 12px;
            border-bottom: 0.8px solid $obsidian-black;
            margin-top: 47px;
            margin-left: 84px;
            margin-right: 84px;
            text-align: center;
            
           

        }
    
        .dates{

            font-family: 'Cormorant', serif;
            font-weight: 300;
            @include default-flex();
            margin: 77px 84px 17px 84px;
            //margin: 37px 84px 29px 84px;
            text-align: center;
            //border-bottom: 0.8px solid $obsidian-black;
            //border-top: 0.8px solid $obsidian-black;
            //padding: 12px 0px;
            
    
        }
    
    
    
        .content{
            @include default-flex();
            font-family: 'Cormorant', serif;
            margin: 0 84px;
            text-align: justify;
            font-size: 1.3em;
            //display: grid;
            //grid-template-columns: 1fr 1fr;
            
            

    
        }
        
        .extra-images {
            margin-top: 40px;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            .slick-dots li{
                height: 5px;
              
                
                
            }
            
        }

        .icons {
            display: flex;
            justify-self: center;
            


            svg {
                
                font-size: 1.7em;
                margin-top: 90px;
                color: $villa-nova;
                transition: 1s ease-in-out;
                padding-left: 25px;
                padding-right: 25px;
                //color: rgba(169, 169, 169, 0.733);
                
            }
    
            svg:hover {
                color: $obsidian-black;
                transition: 1s ease-in-out;
            }

        }

        
    
    
    
        .logo{
            @include logo();
            //margin-top: 155px;
            margin-top: 45px;

            .logo-part-one{
                font-size: 3.5rem;
            }

            .logo-part-two{
                font-size: 5.5rem;;
            }
        }


    }

    




}



@media (max-width:788px) {

    .newspaper-detail-wrapper {

        display: flex;
        justify-content: center;

        .newspaper-detail-content {

            .title{
                margin-bottom: 47px;
                border-bottom: transparent;
                border-top: 1px dashed $cotton;
                background-color: $obsidian-black;
                margin: 0px;
                padding: 47px;
                color: $cotton;
            
            }

            img{
                height: 100%;
                width: 100%;
            }

            .dates{
                margin-top: 67px;
                margin-bottom: 35px;
                font-size: 1.2em;
            }

            .content{
                font-size: 1.4em;
                

            }

            .extra-images {

                //width: 388px;
                width: 100vw;
                margin-bottom: 24px;
                margin-top: 74px;
                
                
                
            }

            .logo{
                margin-bottom: 39px;
            }


        }
    }
}