.newspaper-detail-wrapper {

    @include page-disposition();

    .newspaper-detail-content {
        //height: 573px;
        
        

        .title{

            font-family: 'Tangerine', serif;
            font-weight: 400;
            font-style: normal;
            font-size: 3.3em;
            @include default-flex();
            padding-bottom: 12px;
            border-bottom: 0.8px solid $obsidian-black;
            margin-top: 47px;
            margin-left: 84px;
            margin-right: 84px;
            text-align: center;
            
           

        }
    
        .dates{

            font-family: 'Cormorant', serif;
            font-weight: 300;
            @include default-flex();
            margin: 77px 84px 17px 84px;
            text-align: center;
            
    
        }
    
    
    
        .content{
            @include default-flex();
            font-family: 'Cormorant', serif;
            margin: 0 84px;
            text-align: justify;
            font-size: 1.3em;
            
            

    
        }

        svg {
            display: flex;
            justify-self: center;
            font-size: 1.7em;
            margin-top: 90px;
            color: $villa-nova;
            //color: rgba(169, 169, 169, 0.733);
            
        }

        svg:hover {
            color: $obsidian-black;
            transition: 1s ease-in-out;
        }
    
    
    
        .logo{
            @include logo();
            //margin-top: 155px;
            margin-top: 45px;

            .logo-part-one{
                font-size: 3.5rem;
            }

            .logo-part-two{
                font-size: 5.5rem;;
            }
        }


    }

    




}