.no-match-wrapper{
    @include page-disposition();
    //display: grid;
    //grid-template-columns: 1.5fr 2fr 1.5fr;
    height: 700.5px;
    
   

    .home-content{
        position: relative;
        margin-top: 82px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        

        .text {
            font-size: 3rem;
            font-family: 'Estonia', serif;
            margin-top: 10px;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            

        }

        .logo {
            @include logo();
            
        }

        .btn{

            @include button();

            position: absolute;
            top:30%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 65px;

        }
    }
}

@media (max-width:788px){
    .no-match-wrapper{
        display: grid;
        grid-template-columns: 1fr;

        .image-space-left{
            width: 100vw;
            height: 100vh;
            box-shadow: 5px 8px 40px 8px $obsidian-black;
        }

        .home-content{

        
            .logo{
                margin-bottom: 28px;
                margin-top: 295px;
                
            }
        }
    }
}