.no-match-wrapper{
    @include page-disposition();
    //display: grid;
    //grid-template-columns: 1.5fr 2fr 1.5fr;
   

    .home-content{
        position: relative;
        margin-top: 82px;
        

        .text {
            font-size: 3rem;
            font-family: 'Estonia', serif;
            margin-top: 10px;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            

        }

        .logo {
            @include logo();
        }

        .btn{

            @include button();

            position: absolute;
            top:30%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 65px;

        }
    }
}